body {
  max-width: 1000px;
  padding: 0;
  margin: 0;
  background-color: #9999ff;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  display: flex;
}

h4 {
  font-family: sans-serif;
  letter-spacing: 2px;
  color: #ff00ff;
  font-size: 20px;
  transform: translateX(400%);
  padding: 0;
  margin: 0;
}

h4:hover {
  transform: scaleY(1);
  transition: 4s;
}

a {
  text-decoration: none;
}
.center {
  text-align: center;
  position: relative;
  top: 50%;
  width: 50%;
  transform: translateX(40%) translateY(-20%);
  padding: 5%;
}

.text {
  transform: translateX(60%);
  display: inline-grid;
  height: 50%;
  width: 50%;
  padding: 0px;
  margin: 0px;
}
  .img {
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  position: relative;
  display: inline-block;
  transform: scale(1);
  padding: 20px;
  transition: .2s;
}
  .img:hover {
  padding: 5px;
  display: inline-block;
  color: #FF00FF;
  border-radius: 60%;
  box-shadow: 0 0 10px #FF00FF, 0 0 10px #FF00FF, 0 0 10px #FF00FF;
  }

video {
  width: 150%;
  transform: translateY(10%);
  transform: translateX(55%);
  justify-content: center;
  display: inline-block;
  }


.photo {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  justify-content: center;
}


.girl {
  transform: translateX(120%);
}

.moon {
  transform: translateX(120%);
}

.oil {
  transform: translateX(120%);
}

.ink {
  transform: translateX(120%);
}

.text {
  transform: translateX(70%);
}

.purple {
  justify-content: center;
  letter-spacing: 2px;
  margin-bottom: 5px;
  transform: translateX(30%);
}
.box {
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 20px;
  transition: .2s;
  justify-content: center;
  align-items: center;
}

.box:hover {
  padding: 0;
  color: #FF00FF;
  border-radius: 20%;
  box-shadow: 0 0 10px #FF00FF, 0 0 10px #FF00FF, 0 0 10px #FF00FF;

}
